.react-datepicker__triangle {
  justify-content: center;
}
.react-datepicker__day--selected {
  background-color: rgba(150, 150, 150, 1);
}
.react-datepicker__day--selected:hover {
  background-color: rgba(150, 150, 150, 1);
}
.react-datepicker__day--keyboard-selected {
  background-color: rgba(150, 150, 150, 1);
}
